* {
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
    font-weight: bold;
}

body {
    background-color: #2e8d86;
}

button{
    width: 150px;
}
.title-cont {
    color: white;
    font-size: 55px;
    text-align: center;
    padding: 10px;
}

.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
    align-items: flex-start;
    padding: 5px 5px;
}

.cont-main {
    border-radius: 5px;
    width: auto;
}

.video-main video {
    width: 100%;
    border-radius: 5px;
}

.title-video {
    color: white;
    font-size: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.cont-list{
    border-radius: 5px;
    height: 40%;
    overflow-y: scroll;
}

.video-list video{
    height: 100%;
    border-radius: 5px;
    margin: 5px;
    width: 100%;
}